@font-face {
  font-family: TelegrafUltraBold;
  src: url(../fonts/TelegrafUltraBold.otf);
}

@font-face {
  font-family: TelegrafRegular;
  src: url(../fonts/TelegrafRegular.otf);
}

body {
  background-color: #000000;
  color: #eeeeff;
  font-family: "TelegrafRegular";
}

svg {
  fill: #000000;
  cursor: pointer;
}

.container-1000 {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
}

.container-1000 .grid__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}

@media screen and (max-width: 900px) {
  .container-1000 .grid__container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    padding: 20px 0;
  }
}

@media screen and (max-width: 600px) {
  .container-1000 .grid__container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    padding: 40px 0;
  }
}

.container-1000 .grid__container > div {
  height: 300px;
  font-family: "TelegrafUltraBold";
  color: #1d1d1d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px;
  border: 2px solid transparent;
}

.container-1000 .grid__container > div > div:nth-child(1) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.container-1000 .grid__container > div > div:nth-child(1) > div {
  display: inline-block;
}

.container-1000 .grid__container > div > div:nth-child(2) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container-1000 .grid__container > div > div:nth-child(2) h1 {
  font-family: "TelegrafUltraBold";
  font-size: 2.5rem;
  padding: 25px 0;
  line-height: 1.15;
}

.container-1000 .grid__container > div:nth-child(1) {
  background: #ffafbd;
  background: linear-gradient(66deg, #ffafbd 0%, #ffc3a0 100%);
}

.container-1000 .grid__container > div:nth-child(2) {
  background: #d6cff6;
  background: radial-gradient(circle, #d6cff6 0%, #b1a3d7 100%);
}

.container-1000 .grid__container > div:nth-child(3) {
  background: #93ff8f;
  background: radial-gradient(circle, #93ff8f 0%, #9ada98 48%, #8edb90 100%);
}

.container-1000 .grid__container > div:nth-child(4) {
  background: #fff062;
  background: radial-gradient(circle, #fff062 0%, #dbdb8e 100%);
}

.container-1000 .grid__container > div:nth-child(5) {
  background: #f9a29e;
  background: radial-gradient(circle, #f9a29e 0%, #f6b4a8 100%);
}

.container-1000 .grid__container > div:nth-child(6) {
  background: #62dcff;
  background: radial-gradient(circle, #62dcff 0%, #a8d5f6 100%);
}

.container-1000 .grid__container > div:hover {
  background: #000000;
  color: #eeeeff;
  border: 2px solid #eeeeff;
  position: relative;
}

.container-1000 .grid__container > div:hover svg {
  fill: #eeeeff;
}

.container-1000 .grid__container > div:hover::after {
  position: absolute;
  content: "";
  top: 15px;
  left: -15px;
  height: 100%;
  width: 100%;
  border: 2px solid #eeeeff;
  z-index: -1;
}
/*# sourceMappingURL=style.css.map */