@import "./partials/colors";
@import "./partials/mixins";
@import "./partials/typography";

// Importing the fonts
@font-face {
    font-family: TelegrafUltraBold;
    src: url(../fonts/TelegrafUltraBold.otf);
}
@font-face {
    font-family: TelegrafRegular;
    src: url(../fonts/TelegrafRegular.otf);
}

//General Styling
body{
    background-color: $primary-dark;
    color: $primary-white;
    font-family: "TelegrafRegular";
}
svg{
    fill : $primary-dark;
    cursor: pointer;
}

//Classes Styling
.container-1000{
    @include container-width(1000px);
    @include flex-container(column,stretch,center,no-wrap);
    // background-color: pink;
    min-height: 100vh;

    .grid__container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap : 40px;
        @media screen and (max-width : 900px){
            grid-template-columns: repeat(2,1fr);
            padding: 20px 0;
        }
        @media screen and (max-width : 600px){
            grid-template-columns: repeat(1,1fr);
            padding: 40px 0;
        }
        >div{
            height: 300px;
            font-family: "TelegrafUltraBold";
            color: $secondary-dark;
            @include flex-container(column,flex-start,space-between,no-wrap);
            padding: 25px;
            border: 2px solid transparent;
            >div{
                &:nth-child(1){
                    align-self: flex-end;
                    >div{
                        display: inline-block;
                    }
                }
                &:nth-child(2){
                    justify-content: flex-end;
                    h1{
                        font-family: "TelegrafUltraBold";
                        font-size: 2.5rem;
                        padding: 25px 0;
                        line-height: 1.15;
                    }
                }
            }
            &:nth-child(1){
                background: rgb(255,175,189);
                background: linear-gradient(66deg, rgba(255,175,189,1) 0%, rgba(255,195,160,1) 100%);
            }
            &:nth-child(2){
                background: rgb(214,207,246);
                background: radial-gradient(circle, rgba(214,207,246,1) 0%, rgba(177,163,215,1) 100%);
            }
            &:nth-child(3){
                background: rgb(147,255,143);
                background: radial-gradient(circle, rgba(147,255,143,1) 0%, rgba(154,218,152,1) 48%, rgba(142,219,144,1) 100%);
            }
            &:nth-child(4){
                background: rgb(255,240,98);
                background: radial-gradient(circle, rgba(255,240,98,1) 0%, rgba(219,219,142,1) 100%);
            }
            &:nth-child(5){
                background: rgb(249,162,158);
                background: radial-gradient(circle, rgba(249,162,158,1) 0%, rgba(246,180,168,1) 100%);
            }
            &:nth-child(6){
                background: rgb(98,220,255);
                background: radial-gradient(circle, rgba(98,220,255,1) 0%, rgba(168,213,246,1) 100%);
            }
            &:hover{
                background: $primary-dark;
                color: $primary-white;
                border: 2px solid $primary-white;
                position: relative;
                svg{
                    fill: $primary-white;
                }
                &::after{
                    position: absolute;
                    content: "";
                    top: 15px;
                    left: -15px;
                    height: 100%;
                    width: 100%;
                    border: 2px solid $primary-white;
                    z-index: -1;
                }
            }
           
        }
    }
}